.root {
    -fx-background-color: linear-gradient(to bottom, #f4f5f7, #eceef1);
    -fx-font-family: "Segoe UI";
}

.label {
    -fx-font-size: 17px;
    -fx-font-weight: 600;
    -fx-text-fill: #2e3f6c;
}

.button {
    -fx-background-color: #3b4f82;
    -fx-text-fill: white;
    -fx-padding: 7 20;
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-border-color: #2e3f6c;
    -fx-border-radius: 6;
    -fx-cursor: hand;
    -fx-transition: all 0.2s ease-in-out;
}

.button:hover {
    -fx-background-color: #344773;
}

.button:pressed {
    -fx-background-color: #2a3a5e;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #c7c9cc;
    -fx-padding: 7 8;
    -fx-font-size: 14px;
}

.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #d2d4d7;
    -fx-border-radius: 6;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: #e5e7eb;
}

.table-view .column-header {
    -fx-font-size: 14px;
    -fx-text-fill: #2e3f6c;
    -fx-background-color: #e5e7eb;
    -fx-border-color: #d2d4d7;
}

.table-view .table-cell {
    -fx-padding: 7;
    -fx-font-size: 14px;
}

.grid-pane {
    -fx-background-color: #ffffff;
    -fx-padding: 15;
    -fx-hgap: 2.5;
    -fx-vgap: 2.5;
    -fx-border-color: #d2d4d7;
    -fx-border-radius: 6;
    -fx-alignment: center;
}

.text-area {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15px;
    -fx-text-fill: #2e3f6c;
    -fx-background-color: #ffffff;
    -fx-border-color: #c7c9cc;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-background-insets: 0;
    -fx-padding: 6;
}

.text-area .content {
    -fx-padding: 6;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.back-btn {
    -fx-background-color: #3b4f82;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 22;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}
.dp-cell {
    -fx-font-size: 11px;
    -fx-background-color: #f3f4f6;
    -fx-text-fill: #2e3f6c;
    -fx-padding: 4;
    -fx-border-color: #bfc1c4;
    -fx-border-width: 0.8;
    -fx-border-style: solid;
    -fx-border-radius: 3;
    -fx-alignment: center;
    -fx-background-radius: 3;
    -fx-min-width: 25;
    -fx-min-height: 25;
    -fx-pref-width: 40;
    -fx-pref-height: 30;
    -fx-max-width: 80;
    -fx-max-height: 60;
}


